html{color:#000;background:#FFF}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
fieldset,img{border:0}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var{font:inherit}
del,ins{text-decoration:none}
/*li{list-style:none}*/
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
q:before,q:after{content:''}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:baseline}
sub{vertical-align:baseline}
legend{color:#000}
body{font:13px/1.231 arial,helvetica,clean,sans-serif;*font-size:small;*font:x-small}
select,input,textarea,button{font:99% arial,helvetica,clean,sans-serif}
table{font-size:inherit;font:100%}
pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%}
body{text-align:left}
#doc,#doc2,#doc3,#doc4{margin:auto;text-align:left;width:57.69em;*width:56.25em}
#doc2{width:73.076em;*width:71.25em}
#doc3{margin:auto 10px;width:auto}
#doc4{width:74.923em;*width:73.05em}


div.pagebox{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: blue;
	font-weight: bold;
}

div.page_options{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: blue;
	font-weight: bold;
	padding: 5% 0%;
}

img {
    position: relative;
    float: left;
    width:  100%;
    height: 80%;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
	margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 0;
    margin-right: 0;
}

body{
	margin-left: 20%;
	margin-right: 20%;
}

h1 { 
    display: block;
    font-size: 2.5em;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h2 { 
    display: block;
    font-size: 2em;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

p {
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
}

a{
	display: inline-block ;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
	font-weight: bold;
	font-size: 1.5em;
}

table, th, td {
    border: 2px solid black;
	width: 100%
	text-align: left;
	padding: 15px;
	color:blue;
	font-size:1.12em;
}